* {
    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-bar{
    margin: 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background: black;
}

.calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 85vw;
    background-color: rgb(203, 203, 203);
}
.bottom-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 25vh;
    width: 85vw;
    background-color: #6b6b6b;   
}
.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 15vw;
    background-color: #888888;
}

.box {
    width: 100px;
    height: 100px;
}
#box1 {
    background-color: #ffffff;
}
#box2 {
    background-color: #ffffff;
}
#box3 {
    background-color: #ffffff;
}
