:root {
    --primaryColor: #545454;
    --backgroundColor: #2e2e2e;
    --navBarColor: #1f1f1f;
}

* {
    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
    align-items: center;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(100vw - 6px);
    flex: 1 1 auto;
    padding-top: 3px;
    padding-right: 1px;
    padding-bottom: 5px;
}

.nav-bar{
    display: flex;
    flex: 0 1 auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background: var(--navBarColor);
    align-items: center;
    justify-content: space-evenly;
}
.calendar-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-right: 3px
}

/* cal */
.calendar-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin-top: 40px; 
  margin-bottom: 3px;
   overflow-x: auto;  
  overflow-y: hidden;

}

.calendar {
    margin-bottom: 3px;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor);
    border-radius: 6px;
}

/* Bottom */
.bottom-section {
  flex-shrink: 0;
  border-top: 1px solid #ccc;
  background: #f8f8f8;
  padding: 10px;
  height: 140px;
  width: 85vw;
  position: fixed;
  bottom: 0;
  left: 0;

  display: block;
  overflow-y: hidden;
  flex: 0 1 auto;
  background-color: var(--primaryColor);
  border-radius: 6px;
}

/*right*/
.right-section {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 200px;
    background-color: var(--primaryColor);
    border-radius: 6px;
}

.box {
  width: 200px;
  height: 300px;
}

.testBox {
  width: 100px;
  height: 100px;
  margin: 35px;
}

#box1, #box2, #box3 {
  background-color: #ffffff;
}

/* Search */
.search-section {}

.search-item {
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search-friends-section {
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 10rem;
  height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #2e2e2e;
  border-radius: 4px;
}

search {
  width: 100%;
  height: 100%;
}

/* Beautiful Calendar Stuff section  */
.calendar-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100vh - 180px); 
  margin-top: 40px; 
  padding-bottom: 140px; /*avoid bottom screwups*/
   overflow-x: auto;
  overflow-y: hidden;
  overflow: visible;
}

/* Scrollable */
.calendar-box {
  flex: 1;
  width: 100%;
  border: 2px solid #333;
  background: white;
  overflow: auto;       /*scrollable*/
  box-sizing: border-box;
  padding: 10px;
  position: relative;   /*event pos*/
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 100px; 
  width: 1200px;          
  min-height: 2500px;     
}

.hour-cell {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #fafafa;
}

/* the actual event blocks */
.event-block {
  position: absolute;
  border-radius: 4px;
  padding: 2px 4px;
  color: #000;
  font-size: 12px;
  box-sizing: border-box;
  opacity: 0.9;
}

/* Upcoming Event Section */ 
#upcoming-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-top: 10px;
  padding: 10px;
  width: 180px;
  height: 320px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow-y: auto;
}

#upcoming-events h2 {
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
}

#events-search {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* inputs */
input {
  background-color: #c9c8cc;
  border: #1f1f1f 1px solid;
  border-radius: 4px;
  padding: 2px 4px;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
}

.text-center {
  text-align: center;
}

/* Sign In popup */
.signInPopUpOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1000;
}

.signInPopUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: center;
}

.signInPopUp .closeSignInPopUp {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #000000;
}

.signInPopUp #userNameInput,
.signInPopUp #passwordInput {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.signInPopUp #signInSubmit {
  background-color: rgb(205, 205, 205);
  color: white;
  padding: 8px 20px;
  border: none;
  font-size: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* Category Filter CSS */
.filterDropdown button {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}

.filterDropdown label {
  display: block;
  color: rgb(0, 0, 0);
  padding: 2.5px;
}

.filterDropdown .filterMenuStuff {
  display: none;
  position: absolute;
  min-width: 50px;
  background-color: lightgrey;
  box-shadow: 2px 2px 5px black;
}

input{
    background-color: #c9c8cc;
    border: #1f1f1f 1px solid;
    border-radius: 4px;
    padding: 2px 4px;
}

input[type="radio"], input[type="checkbox"]{
    margin-right: 5px;
}

.text-center{
    text-align: center;
}

.signInPopUpOverlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1000;
}
.signInPopUp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    text-align: center;
}

.signInPopUp .closeSignInPopUp{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
}

.signInPopUp #userNameInput, .signInPopUp #passwordInput{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.signInPopUp #signInSubmit{
    background-color: rgb(205, 205, 205);
    color: white;
    padding: 8px 20px;
    border: none;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Category Filter CSS*/
.filterDropdown button{
    background-color: black;
    color:white;
    cursor: pointer;
    padding:10px 15px;
    border:none;
}
.filterDropdown label{
    display:block;
    color:rgb(0, 0, 0);
    padding:2.5px;
}
.filterDropdown #filterMenuStuff{
    display: none;
    position: absolute;
    min-width: 50px;
    background-color: lightgrey;
    box-shadow: 2px 2px 5px black;
}
.filterDropdown:hover #filterMenuStuff{
    display: block;
}
/* End Catergory Filter CSS*/
